nav {
    background-color:#4285f4;
    height: 44px;
    position: fixed;
    float: initial;
    width: 100%;
    display: block;
    top: 0;
    right: 0;
    left: 0;
}

.nav-list {
    margin: 0;
}

.nav-item {
    list-style: none;
    height: 44px;
    display: inline-block;
    position: relative;
}

.nav-link-text {
    /* position: absolute; */
    /* height: 1px;
    width: 1px; */
    overflow: hidden;
    padding: 0;
    border: 0;
    top: 50%;
    text-decoration: none !important;
}

/* .nav-link-home-logo {
    background-size: 100px 20px;
    background-repeat: no-repeat;
    background-image: url("../images/i-logo.svg");
    background-position: center;
    width: 100px;
    height: 44px;
    display: inline-block;
    z-index: 1;
    position: relative;
} */

/* .nav-link-projects-logo {
    background-size: 100px 15px;
    background-repeat: no-repeat;
    background-image: url("../images/projects-logo.svg");
    background-position: center;
    width: 100px;
    height: 44px;
    display: inline-block;
    z-index: 1;
    position: relative;
} */